<%- include("header") -%>
<body>
  <div class="data">
    <p class="state"><u>State: <%=arr[0] %></u></p>
    <p class="p1"  >Confirmed: <%=arr[1] %></p>
    <p class="p2" >Active: <%=arr[2] %></p>
    <p class="p3">Recovered: <%=arr[3] %></p>
    <p class="p4">Deaths: <%=arr[4] %></p>
  </div>

</body>
